.buttons button {
    width: 100%;
    max-width: 100px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #7999b3;
    color: white;
    border-radius: 4px;
    border: 2px solid #7999b3;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: bold;
}

.buttons button:hover {
    background-color: #9db4c8;
    border: 2px solid #9db4c8;
    
}


aside nav ul{
    list-style: none;
    padding: 20px;
}


.list{
    margin: 15px 0;

}

.link{
    text-decoration: none;
    color: #7999b3;
    transition-duration: 0.4s;

}

.link:hover{
    color: #9db4c8;

}

.back {
    display: inline-block;
    padding: 7px 14px;
    font-size: 16px;
    color: white;
    background-color: #7999b3;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;

}

.back:hover {
    background-color: #9db4c8;
}

.social-sharing {
    margin-top: 40px;
    text-align: center;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.twitter {
    background-color: #1DA1F2;
}

.twitter:hover {
    background-color: #0d8de8;
    transform: translateY(-3px);
}

.facebook {
    background-color: #4267B2;
}

.facebook:hover {
    background-color: #3b5998;
    transform: translateY(-3px);
}

.linkedin {
    background-color: #0077B5;
}

.linkedin:hover {
    background-color: #005582;
    transform: translateY(-3px);
}

.social-icon:hover {
    text-decoration: none;
}



